@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  font-size: 40px;
}
.window {
  width: 100%;
}
.left-panel {
  width: 50%;
  height: 100px;
  float: left;
  background: rgb(154, 161, 154);
  height: 500px;
  resize: horizontal;
  overflow: auto;
}
.instructions {
}
.right-panel {
  width: 50%;
  height: 100px;
  float: right;
  height: 500px;
  resize: horizontal;
  overflow: auto;
  background: blue;
  position: relative;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn {
  position: absolute;
  right: 3%;
  bottom: 3%;
  font-size: 25px;
  font-size: 14px;
  background-color: limegreen;
}
