.App {
  text-align: center;
}
.title {
  height: 70px;
  font-size: 40px;
}
.window {
  width: 100%; 
}
.left-panel {
  width: 50%;
  height: 100px;
  float: left;
  background: rgb(154, 161, 154);
  height: 500px;
}
.instructions {}
.right-panel {
  margin-left: 50%;
  height: 100px;
  background: blue;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



